<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- id=lee 이순신,2000000 생성자 이용해 초기화 -->
<bean id="lee" class="com.test06.Emp">
	<constructor-arg index="1" value="200000"></constructor-arg>
	<constructor-arg index="0" value="이순신"></constructor-arg>
</bean>
<!-- id=hong 홍길동,2500000 setter 이용해 초기화 -->
<bean id="hong" class="com.test06.Emp">
	<property name="name" value="홍길동"></property>
	<property name="sallary" value="250000"></property>
</bean>
</beans>
