<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/scripts.js"></script>
</head>
<body>
	<h1>Expression</h1>
	
	<p th:text="|Hello, ${name}|">Hello, $name</p>
	<p th:text="${dto.subject}">dto.subject</p>
	
	<div th:object="${dto}" style="border: 1px red solid; width: 100px; height: 100px;">
		<p th:text="*{subject}">subject</p>
		<p th:text="*{seq}">seq</p>
	</div>
	
	<p th:text="${list.get(0).subject}"></p>
	
	<table border="1">
		<tr>
			<th>SUBJECT</th>
			<th>SEQ</th>
		</tr>
		
		<tr th:each="dto:${list}">
			<td th:object="${dto}">
				<span th:text="*{subject}"></span> 
			</td>
			<td th:object="${dto}">
				<span th:text="*{seq}"></span>
			</td>
		</tr>
	</table>
	
	<table border="1">
		<tr th:if="${list} ne null">
		<!-- <tr th:if="${iflist} eq null"> -->
			<td>list가 null이 아닙니다.!!!</td>
		</tr>
		<tr th:unless="${list} ne null">
			<td>list가 null이 맞습니다.!!</td>
		</tr>
	</table>
	
	<div th:each="num:${#numbers.sequence(1,3)}">
		<th:block th:switch="${num}">
			<p th:case="1" th:text="|this is ${num}|"></p>
			<p th:case="2" th:text="|this is ${num}|"></p>
			<p th:case="3" th:text="|this is ${num}|"></p>
		</th:block>
	</div>
	
	
	
	
	
	
	
	
	
</body>
</html>